.App {
  text-align: center;
}




#footerInReact {
  text-align: center;
  border-top: 1px solid rgb(53,53,63);
  max-height:max-content;
  //grid-area:footer1; - not working yet
  margin-top:-10px;
  p{
    font-size:1em;
  }
  a img {
    height:2.5em;
    margin-bottom:-02em;
  }
}