

#drum-machine{
 
  text-align: center;
  background-color:#38383d;
}

/* learned from here - toggle power
https://codepen.io/halvves/pen/BxXNYq */

.toggle-inner{
  z-index: 2;
  position: absolute;
  top: 1px;
  left: 1px;
  height: 22px;
  width: 46px;
  border-radius: 15px;
  overflow: hidden;
}

.toggle{
  cursor:pointer;
  position: relative;
  height: 24px;
  width: 48px;
  border-radius: 15px;
  background: #d6d6d6;
  overflow: hidden;
}

.active-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 200%;
  background: #003dda;
  transform: translate3d(-100%, 0, 0);
  transition: transform 0.05s linear 0.17s;
}

.toggle-state {
  display: none;
}

.indicator {
  height: 100%;
  width: 200%;
  background: white;
  border-radius: 13px;
  transform: translate3d(-75%, 0, 0);
  transition: transform 0.35s cubic-bezier(0.85, 0.05, 0.18, 1.35);
}

.toggle-state:checked ~ .active-bg {
   transform: translate3d(-50%, 0, 0);
}

.toggle-state:checked ~ .toggle-inner .indicator {
   transform: translate3d(25%, 0, 0);
}


#button-pad {
  position:relative;
  margin:auto;
  max-width: 400px;
  min-width:400px;
  min-height: 200px;
  background: url(pad2.svg);
}

#buttonsAncestor {
  position:relative;
  
}
#RIDE, #FAN { /* Q */
  position:absolute;
  background-color:#ff7f2a;
  margin-left:-100px;
  margin-top:60px;
  border-style:none; 
  cursor: pointer;
}

#RIVER, #DRO { /* W */
  position: absolute;;
  background-color:#e9c6af;
  margin-left:-45px;
  margin-top:40px;
  border-style:none;
  cursor: pointer;  
}

#PIERREBASIC, #AAP { /* E */
  position: absolute;
  background-color:#d45500;
  margin-left:20px;
  margin-top:40px;
  border-style:none;  
  cursor: pointer;
}

#PIERRE, #ZAYLEAD {/* A  */
  position: absolute;
  background-color:#00ffff;
  margin-left:-100px;
  margin-top:95px;
  border-style:none;  
  cursor: pointer;
}

#MOODY, #TOWN {/* S  */
  position: absolute;
  background-color:#aaccff;
  margin-left:-15px;
  margin-top:77px;
  border-style:none;  
  cursor: pointer;
}

#NEWWAVE, #STABS {/*D  */
  position: absolute;
  background-color:#ffeeaa;
  margin-left:70px;
  margin-top:60px;
  border-style:none;  
  cursor: pointer;
}

#JUMP, #CHANGE {/* Z */
  position: absolute;
  background-color:#c4c8b7;
  margin-left:-45px;
  margin-top:115px;
  border-style:none;  
  cursor: pointer;
}

#BELL, #MAXO {/* X */
  position: absolute;
  background-color:#99ff55;
  margin-left:20px;
  margin-top:115px;
  border-style:none;  
  cursor: pointer;
}

#FUNKY, #BOUNCE {/* C */
  position: absolute;
  background-color:#f4d7d7;
  margin-left:70px;
  margin-top:95px;
  border-style:none;  
  cursor: pointer;
}

#footerInReact {
  text-align: center;
  border-top: 1px solid #35353f;
  max-height: max-content;
  margin-top: -10px; }
  #footerInReact p {
    font-size: 1em; }
  #footerInReact a img {
    height: 2.5em;
    margin-bottom: -02em; }



